body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
#expression {

}
#main-header {
    margin-top: 130px;
    text-align: center;
    font-size: 50px;
}
#main-header > .there {
    font-weight: 100;
}
.guide {
    padding-left: 15%;
}
#startover {
    margin-left: 20%;
}
.guide, #expression, #expguide {
    margin-left: 10%;
    margin-right: 10%
}
.playground {
    background-size: cover;
    position: absolute;
    height:100%;
    margin-left: 10%;
    width: 900px;
}
.circle {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    border: black 1px ridge;
    position: absolute;
    border-radius: 70px;
}
.shaded {
    width: 71px;
    height: 74px;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
    border-radius: 150px 0px;
    position: absolute;
    right: 34.5%;
    top: 37%;
    background-color: #FFF;
}
.shaded-active {
    background: #000;
    opacity: 0.6;
}

.credits {
    margin-right: 0%;
    position: absolute;
    margin-top: 30%;

}

#buttons > button {
    width: 40%;
    float: left;
    margin-right: 5%;
    background-color: #FFF;
    border: 1px solid;
    height: 50px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-weight: 300;
    border: 1px solid #000;
    border-radius: 5px;
}
#expression {
    width: 65%;
    height: 56%;
    font-size: 40px;
    margin-top: 10px;
    border: 0;
    border-bottom: 1px ridge #000;
    font-family: 'Raleway', sans-serif;
    outline: none;
}
div#buttons {
    position: absolute;
    margin-left: 18%;
    width: 80%;
}
